main {
  width: 90%;
  margin: auto;
}

.shoppingItem {
  border: 2px solid gray;
  border-radius: 4px;
  width: 100%;
  max-height: auto;
  margin: 10px;
  padding-bottom: 5px;
}

#shoppingList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullShoppingList {
  text-align: center;

}

.ShoppingForm {
  text-align: center;

}

.typographyDiv {
  flex: auto;
  justify-content: baseline;
}


